

.radioButtonGroup{
  width: fit-content;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  float: right;
  flex-direction: row;
  flex-wrap: nowrap;
}
.radioButtonGroup input{ display: none!important; }
.radioButtonGroup label{
  font-family: sans-serif;
  padding: 10px 16px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.radioButtonGroup label:last-of-type{ border-right: 0; }
.radioButtonGroup label:hover{
  background: #eee;
}
.radioButtonGroup input:checked + label{
  background: #52ad5e;
  color:#fff;
  border: 1px solid #52ad5e!important;
}
.stock-card .card-text {
  font-size: 16px;
  color: #2B3144;
}

#card label {
  margin-bottom: 0;
}
.stock-card .graph {

  width: 100px;
  float: right;
  height: 70px;
  position: absolute;
  right: 0;
  top: 15px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.nav .nav-pills {
  width: 100%;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #52AD5E;
  font-size: 14px;
  background: transparent;
  border-bottom: 2px solid #52AD5E;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.nav-pills .nav-item {
  width: 50%;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
}

.stock-tab .nav-item {
  width: 33% !important;
}

.stock-tab .three-nav {
  width: 33% !important;
}

.stock-tab .two-nav {
  width: 50% !important;
}

.nav-pills .nav-link {
  color: #6C7080;
  font-size: 14px;
  border-bottom: 1px solid #CCCED9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;


}

.float-right {
  float: right;
}

.stock-card span {
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}


button.btn.btn-default {
  height: 53px;
}

.leader-board{
  width: auto;
}


.leader-board tr.tbody-tr-default td.tbody-td-default:nth-child(3){
  padding-right: 350px;
  padding-left: 50px;
}
.leader-board thead.thead-default tr.thead-tr-default th.thead-th-default:nth-child(3){
  padding-right: 350px;
  padding-left: 50px;
}
.leader-board thead.thead-default tr.thead-tr-default th.thead-th-default:nth-child(4){
  width: 450px;
}
/* leader board datatable style modification*/
.cd__main .form-group{
  visibility: hidden;
}
.cd__main .text-right.col-md-4.col-xs-12{
  visibility: hidden;
}
.cd__main .col-xs-12{
  margin-top: -30px;
}
.cd__main .pull-right{
  visibility: hidden;
}
/* user table*/
.user-table thead.thead-default tr.thead-tr-default th.thead-th-default:nth-child(6){
  width: 130px;
}

/* learn Table style Change */
.table-learn td:nth-child(3) {
  width: 200px !important;
}

.table-learn td:nth-child(4) {
  width: 250px !important;
}

/* subscriptionPlan-tabel css change */
.subscriptionPlan-tabel td:nth-child(2) {
  width: 250px !important;
}

.subscriptionPlan-tabel td:nth-child(4) {
  width: 150px !important;
}

.subscriptionPlan-tabel td:nth-child(5) {
  width: 250px !important;
}

/* feedBackTable CSS Chage */
.feedBackTable td:nth-child(2) {
  width: 280px !important;
}

.feedBackTable td:nth-child(3) {
  width: 150px !important;
}

.feedBackTable td:nth-child(4) {
  width: 220px !important;
}

.feedBackTable td:nth-child(5) {
  width: 200px !important;
}

/* bannersTable =============> */
.bannersTable td:nth-child(2) {
  width: 250px !important;
}

.bannersTable td:nth-child(3) {
  width: 100px !important;
}

.bannersTable td:nth-child(4) {
  width: 100px !important;
}

.bannersTable td:nth-child(5) {
  width: 200px !important;
}

.bannersTable td:nth-child(6) {
  width: 150px !important;
}

/* notificationTable CSS Chage  =========> */
.notificationTable td:nth-child(2) {
  width: 270px !important;
}

.notificationTable td:nth-child(3) {
  width: 150px !important;
}

.notificationTable td:nth-child(4) {
  width: 150px !important;
}

.notificationTable td:nth-child(5) {
  width: 230px !important;
}

/* ====== adminTable CSS Change =====> */
.adminTable td:nth-child(2) {
  width: 270px !important;
}

.adminTable td:nth-child(3) {
  width: 170px !important;
}

.adminTable td:nth-child(4) {
  width: 170px !important;
}

.adminTable td:nth-child(5) {
  width: 230px !important;
}

/* userProfileTable CSS Change ====> */
.userProfileTable td:nth-child(2) {
  width: 100px !important;
}

.userProfileTable td:nth-child(4) {
  width: 120px !important;
}

.userProfileTable td:nth-child(5) {
  width: 120px !important;
}

.userProfileTable td:nth-child(7) {
  width: 200px !important;
}

/* ==== rewardsHistoryTable CSS Change ====> */
.rewardsHistoryTable td:nth-child(2) {
  width: 280px !important;
}

.rewardsHistoryTable td:nth-child(3) {
  width: 150px !important;
}

.rewardsHistoryTable td:nth-child(4) {
  width: 250px !important;
}

/*========walletHistoryTable CSS Change===>*/
.walletHistoryTable td:nth-child(2) {
  width: 280px !important;
}

.walletHistoryTable td:nth-child(3) {
  width: 350px !important;
}

.rewardsHistoryTable td:nth-child(4) {
  width: 250px !important;
}

/* ==== .transactionTable CSS Change ====> */
.transactionTable td:nth-child(2) {
  width: 210px !important;
}

.transactionTable td:nth-child(8) {
  width: 200px !important;
}

.dt-disp .col-md-4.col-xs-12.text-right {
  width: 0;
}

.dt-disp .col-md-4.col-xs-12 {
  margin-right: 30px;
}

.form-inline {
  margin: 0 59px;
}

@media (max-width: 1024px) {
  .dt-disp .col-md-4.col-xs-12 {
    margin-right: 0;
  }

  .form-inline {
    margin: 0 2px;
  }
}

.row.p-0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==== .subscription-table CSS Change ====> */
.subscription-table td:nth-child(2) {
  width: 380px !important; }
  
.subscription-table td:nth-child(3) {
  width: 140px !important; }